:root {
  /* Typography */
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: hsl(236, 100%, 87%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Utopia Type scale */
  --step--1: clamp(0.9375rem, 0.9155rem + 0.0939vi, 1rem);
  --step-0: clamp(1.125rem, 1.081rem + 0.1878vi, 1.25rem);
  --step-1: clamp(1.35rem, 1.2752rem + 0.3192vi, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5027rem + 0.5005vi, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7689rem + 0.7473vi, 2.4414rem);


  /* COLORS */
  /* Primary */

  --Blue: hsl(246, 80%, 60%);
  --Lightredwork: hsl(15, 100%, 70%);
  --Softblue: hsl(195, 74%, 62%);
  --Lightredstudy: hsl(348, 100%, 68%);
  --Limegreen: hsl(145, 58%, 55%);
  --Violet: hsl(264, 64%, 52%);
  --Softorange: hsl(43, 84%, 65%);

  /* Neutral */

  --Verydarkblue: hsl(226, 43%, 10%);
  --Darkblue: hsl(235, 46%, 20%);
  --Desaturatedblue: hsl(235, 45%, 61%);
  --PaleBlue: hsl(236, 100%, 87%);
}


@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-VariableFont_wght.ttf");
}

/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

img,
picture {
  max-width: 100%;
  display: block;
}

footer {
  font-size: .7rem;
}

/* End Resets */


/* Mobile Design */
body {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: var(--Verydarkblue);
  padding-block-start: 5em;
  padding-block-end: 5em;
}

main {
  max-width: 88%;
}

div.header--container {
  margin-block-end: 2em;
}

header {
  background-color: var(--Desaturatedblue);
  border-radius: .5em;
  padding-block-start: 1.5em;
  padding-block-end: 1.5em;
  z-index: 1;
  position: relative;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 20%;
  border: 3px solid hsl(0, 99%, 99%);
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 1em;
}

h1 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin-block-start: 0;
}

span.intro {
  font-size: var(--step-0);
  font-weight: 400;
}

span.name {
  font-size: var(--step-3);
  font-weight: 300;
}

nav {
  background-color: var(--Darkblue);
  position: relative;
  inset-block-start: -1rem;
  padding-block-start: 2.5em;
  padding-block-end: 1.5em;
  display: flex;
  justify-content: space-evenly;
  border-end-end-radius: 1em;
  border-end-start-radius: 1em;
}

a {
  text-decoration: none;
  color: var(--PaleBlue);
  transition: color 1s ease-in;
}

a:hover {
  cursor: pointer;
  color: hsl(30, 80%, 70%);
}

a:focus {
  color: aqua;
}

div.information--title,
div.card--details {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}


div.information--title h2,
div.information--title span {
  font-size: var(--step-0);
  font-weight: 500;
}

p.current--value {
  font-size: var(--step-3);
  font-weight: 300;
  margin-block-start: 0;
  color: hsl(236, 100%, 95%);
}

p.previous--value {
  font-size: var(--step--1);
  font-weight: 400;
}

section.information--container {
  height: 9rem;
  border-radius: 1rem;
  margin-block-end: 3.5em;
}

section.information--container:hover {
  opacity: .8;
  cursor: pointer;
}

section:last-child {
  margin-block-end: 2em;
}

div.information--card {
  height: inherit;
  background-color: var(--Darkblue);
  position: relative;
  inset: 20% 0 0 0;
  padding-inline-start: 1.25em;
  padding-inline-end: 1.25em;
  padding-block-start: 1.5em;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}


.work {
  background: 95% -10% / 21% no-repeat url("./images/icon-work.svg") var(--Lightredwork);
}

.play {
  background: 95% -10% / 21% no-repeat url("./images/icon-play.svg") var(--Softblue);
}

.study {
  background: 95% -10% / 21% no-repeat url("./images/icon-study.svg") var(--Lightredstudy);
}

.exercise {
  background: 95% -2% / 24% no-repeat url("./images/icon-exercise.svg") var(--Limegreen);
}

.social {
  background: 95% -10% / 18% no-repeat url("./images/icon-social.svg") var(--Violet);
}

.self.care {
  background: 93% -10%/ 20% no-repeat url("./images/icon-self-care.svg") var(--Softorange);
}

div.information--title span {
  cursor: pointer;
}

/* Desktop Design */

@media screen and (min-width: 1020px) {
  body {
    justify-content: center;
    padding: 0;
  }

  main {
    display: grid;
    column-gap: 1.5em;
    row-gap: 1em;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    max-width: 70%;
  }

  div.header--container {
    margin-block-end: 0;
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: stretch;
  }

  header.profile {
    flex-direction: column;
    align-items: flex-start;
    height: 65%;
  }

  h1 {
    max-width: 80%;
  }

  img {
    max-width: 30%;
    margin-inline-end: 0;
    margin-block-end: .5em;
  }

  span.intro {
    margin-block-end: .2em;
  }

  span.name {
    display: flex;
    flex-direction: column;
  }

  nav {
    flex-direction: column;
    height: 33%;
  }

  a {
    width: fit-content;
  }

  a[href="weekly"] {
    margin-block-start: .5em;
    margin-block-end: .5em;
  }

  header.profile,
  nav {
    padding-inline-start: 1.5em;
  }

  section.information--container {
    height: 10rem;
  }

  div.card--details {
    flex-direction: column;
    align-items: flex-start;
  }

}