:root {
  /* Typography */
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 300;
  color: hsl(30, 50%, 70%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Utopia Type scale */
  --step--1: clamp(0.9375rem, 0.9155rem + 0.0939vi, 1rem);
  --step-0: clamp(1.125rem, 1.081rem + 0.1878vi, 1.25rem);
  --step-1: clamp(1.35rem, 1.2752rem + 0.3192vi, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5027rem + 0.5005vi, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7689rem + 0.7473vi, 2.4414rem);


  /* COLORS */
  /* Primary */

  --Blue: hsl(246, 80%, 60%);
  --Lightred: hsl(15, 100%, 70%);
  --Softblue: hsl(195, 74%, 62%);
  --Lightred: hsl(348, 100%, 68%);
  --Limegreen: hsl(145, 58%, 55%);
  --Violet: hsl(264, 64%, 52%);
  --Softorange: hsl(43, 84%, 65%);

  /* Neutral */

  --Verydarkblue: hsl(226, 43%, 10%);
  --Darkblue: hsl(235, 46%, 20%);
  --Desaturatedblue: hsl(235, 45%, 61%);
  --PaleBlue: hsl(236, 100%, 87%);


}


@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-VariableFont_wght.ttf");
}

/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p {
  margin-block-end: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

img,
picture {
  max-width: 100%;
  display: block;
}


/* End Resets */

/* App Styles */
body {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: var(--Verydarkblue);
}

main {
  max-width: 88%;
}

header {
  background-color: var(--Desaturatedblue);
  display: flex;
  justify-content: center;
  border-radius: .5em;
  padding-block-start: 1.25em;
  padding-block-end: 1.25em;
}



img {
  max-width: 20%;
  border: 3px solid hsl(0, 99%, 99%);
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 1em;

}

h1 {
  flex-shrink: 0;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  position: relative;
  inset-block-end: 10px;

}

span.intro {
  font-size: var(--step--1);
}

span.name {
  font-size: var(--step-1);
}

nav {
  background-color: var(--Darkblue);
  position: relative;
  inset-block-start: -1rem;
  z-index: -1;
  padding-block-start: 2em;
  padding-block-end: 1em;
  display: flex;
  justify-content: space-evenly;
  border-end-end-radius: 1em;
  border-end-start-radius: 1em;
}